In [7]:
import pandas as pd

In [8]:
oil = {}
oil['coconut'] = pd.read_csv('cocount.csv')
oil['cottonseed'] = pd.read_csv('cottonseed.csv')
oil['olive'] = pd.read_csv('olive.csv')
oil['palm'] = pd.read_csv('palm.csv')
oil['palm_kernel'] = pd.read_csv('palm_kernel.csv')
oil['peanut'] = pd.read_csv('peanut.csv')
oil['rapeseed'] = pd.read_csv('rapeseeed.csv')
oil['soybean'] = pd.read_csv('soybean.csv')
oil['sunflowerseed'] = pd.read_csv('sunflowerseed.csv')

In [9]:
pd.read_csv('palm.csv').head(n=5)

,Country,Year,Area Harvested,Beginning Stocks,Domestic Consumption,Ending Stocks,Exports,Feed Waste Dom. Cons.,Food Use Dom. Cons.,Imports,Industrial Dom. Cons.,Production,Total Distribution,Total Supply,Yield
0,Afghanistan,1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1965,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,1967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,1968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# for key, value in oil.items():
#     print(key)
#     print(value.info())
#     print()

oil['palm']['Domestic Consumption'].describe()
# oil['palm']['Area Harvested'].max()

count     5820.000000
mean       251.178007
std        973.933203
min          0.000000
25%          0.000000
50%         23.000000
75%        128.000000
max      20350.000000
Name: Domestic Consumption, dtype: float64